* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.6;
}

body, button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
}

header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.match {
    font-size: 2rem;
}

.scoreBoard {
    display: flex;
    gap: 20rem;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.board {
    width: 20rem;
}


#playerDisplay,
#computerDisplay {
    font-size: 10rem;
}

.buttons {
    display: flex;
    gap: 2rem;
}

button {
    color: white;
    padding: .5rem 1.5rem;
    border: 1px solid black;
    border-radius: .4rem;
    background-color: black;
}


button:hover{
    background-color: white;
    color: black;
}

.playAgain {
    display: none;
}
